.row
  .col-xs-6.offset-xs-3
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
      %h3 Забыли пароль?
      %p Мы отправим инструкции по восстановлению пароля.
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Емейл'
      = f.submit 'Сбросить пароль', class: 'button-xs'
