%h3 Список отделов

%table.table.table-responsive
  %thead
    %tr
      %th Департамент
      %th Название
      %th= link_to '+ Отдел', new_section_path, class: 'button-xs'

  %tbody
    = render @sections.decorate