%ol.breadcrumb
  %li.breadcrumb-item= link_to(@section.department, department_path(@section.department_id))
  %li.breadcrumb-item.active= @section
  %li.float-xs-right= link_to 'Изменить', edit_section_path(@section), class: 'button-xs btn-success'

= render partial: 'statistic', collection: @section.statistics