.card
  .card-header= section.name
  - section.statistics.where(product_id: params[:product_id].blank? ? nil : params[:product_id]).each do |statistic|
    = link_to statistic.name, statistics_path(statistic)
    = statistic_miltichart(statistic)
