%p
  Здравствуйте #{@resource.name}!
%p Кто то (возможно вы) запросил ссылку на изменение пароля. Вы можете сделать это через ссылку ниже.
%p= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если вы не запрашивали изменение пароля, просто проигнорирйте это письмо.
%p Ваш пароль и доступ не будет изменен до тех пор, пока вы не перейдете по ссылке или не создадите новый.
